body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
img {
    width: 100%;
    display:flex;
    margin: 0 auto;
}
.pic {
    margin: 15%;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}    
footer {
    text-align: center;
}
.bottom {
    text-align: center;
}
.end {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.CONTACT {
    font-weight: bold;
}
@media screen and (min-width: 768px) {

    *{
        box-sizing: border-box;
    }
     
    body {
        width: 70%;
        max-width: 1000px;
        min-width: 0 auto;
    }
}